<h1>Listing relationships</h1>


            <% if signed_in? %>

<table>
  <thead>
    <tr>
      <th>Follower</th>
      <th>Followed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.follower_id %></td>
        <td><%= relationship.followed_id %></td>
        <td><%= link_to 'Show', relationship %></td>
        <td><%= link_to 'Edit', edit_relationship_path(relationship) %></td>
        <td><%= link_to 'Destroy', relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relationship', new_relationship_path %>

<br>
<br>

<%  @followers.each do |user|  %>
      <%= user.id %>
      <%= user.name %>
      
<% end %>

<br>
<br>

 <% @user.each do |user| %>
      <br>
      <%= user.id %>
      <%= user.name %>
      <br>
      <%= user.email %>

    <% end %>


 <% end %>

