     
		 
		 
		          <% if signed_in? %>
	   
<h1>最新动态</h1>

      <%= render 'shared/feed' %>
<h1>关注我的</h1>

<br>
<br>

<%  @followers.each do |user|  %>
      <%= user.id %>
      <%= user.name %>
      
<% end %>

<br>
<br>


<h1>我关注的</h1>

<br>
<br>

<%  @following.each do |user|  %>
      <%= user.id %>
      <%= user.name %>
      
<% end %>

<br>
<br>

<% end %>

			 
	<li><%= link_to "我的post", posts_path %></li>
			 


	<li><%= link_to "我的album", albums_path %></li>


	<li><%= link_to "我的photo", photos_path %></li>
