<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= image_tag @ablum.avatar.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ablum.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ablum.text %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @ablum.publish %>
</p>

<p>
  <strong>Free:</strong>
  <%= @ablum.free %>
</p>

<p>
  <strong>User:</strong>
  <%= @ablum.user.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ablum.url %>
</p>

<table>
 
 
    <% @ablum.photos.each do |photo| %>
      <tr>
        <td>  <%= image_tag photo.avatar.url(:medium) %></td>
      </tr>
    <% end %>
 </table>




<%= link_to 'Edit', edit_ablum_path(@ablum) %> |
<%= link_to 'Back', ablums_path %>
