

    <% @posts.each do |post| %>


      <div class="row featurette">
        <div class="col-md-1">
                 <%= image_tag post.avatar.url(:thumb), class: "featurette-image img-responsive" %> 
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading"><%= post.title %></h2>
          <p class="lead"><%= post.text %></p>
        </div>
      </div>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
<br>
<%= link_to 'New Post', new_post_path %>
